# Zadanie: albumy wszechczasów

### Import niezbędnych bibliotek

In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/', header=0)

In [5]:
df = data[0]

### 1. Zamień nagłówki kolumn na polskie odpowiedniki: ['TYTUŁ','ARTYSTA','ROK','MAX POZ']

In [7]:
df.rename(columns={'POS' : 'POZ', 'TITLE' : 'TYTUŁ', 'ARTIST' : 'ARTYSTA', 'YEAR' : 'ROK', 'HIGH POSN' : 'MAX POZ'},inplace=True)

### 2. Ilu pojedynczych artystów znajduje się na liście?

In [9]:
df['ARTYSTA'].nunique()

47

### 3. Które zespoły pojawiają się najczęściej na liście?

In [11]:
zespoly_najczesciej = df['ARTYSTA'].value_counts()
ile_najczesciej = zespoly_najczesciej.max()
zespoly_najczesciej[zespoly_najczesciej == ile_najczesciej]

ARTYSTA
COLDPLAY     3
TAKE THAT    3
Name: count, dtype: int64

### 4. Zmień nagłówki kolumn, tak aby każdy z nich rozpoczynał się od wielkiej litery, a pozostałe były wprowadzone małymi literami.

In [13]:
df.rename(str.title, axis='columns', inplace='True')

### 5. Wyrzuć z tabeli kolumnę ‘Max Poz’.

In [15]:
df.drop(['Max Poz'],axis=1,inplace=True)

### 6. W którym roku wyszło najwięcej albumów znajdujących się na liście?

In [41]:
ile_w_roku = df.groupby(['Rok']).count().sort_values(by='Tytuł', ascending=False)
ile_najwiecej = ile_w_roku['Tytuł'].max()
ile_w_roku[ile_w_roku['Tytuł'] == ile_najwiecej]['Tytuł']

Rok
2000    4
1987    4
Name: Tytuł, dtype: int64

### 7. Ile albumów wydanych między 1960 a 1990 rokiem włącznie znajduje się na liście?

In [62]:
df[(df['Rok'] >= 1960) & (df['Rok'] <= 1990)]['Tytuł'].count()

22

### 8. W którym roku wydany został najmłodszy album na liście?

In [68]:
df['Rok'].max()

2015

### 9. Przygotuj listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.

In [141]:
najwczesniej_wydane = df.groupby(pd.Grouper(key='Artysta')).agg({'Rok':'min','Tytuł':'max'}).sort_values(by='Artysta')

### 10. Listę zapisz do pliku csv.

In [145]:
najwczesniej_wydane.to_csv('Albumy_Wszechczasow.csv')